.Treant > .node { 
  padding: 0; 
  border: none; 
  border-radius: 4px;
}
.Treant > .node img { 
  width: 100%; 
  height: 100%;
}

.Treant .collapse-switch {
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 12px;
  background-color: #a7a59d;
  transition: all 0.25s;
}
.Treant .collapse-switch:hover {
  background-color: #97C94E;
  transition: all 0.25s;
}

.Treant .node.collapsed {
  background-color: none;
}
.Treant .node.collapsed .collapse-switch {
  background: #97C94E;
  transition: all 0.25s;
}
.Treant .node.collapsed .collapse-switch:hover {
  background: #85b045;
  transition: all 0.25s;
}

.collapse-switch:after {
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "genicons";
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  content: "\e635";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  transform: rotate(0deg);
  transition: all .25s;
}
.collapsed .collapse-switch {
  transform: rotate(-90deg);
  transition: all .25s;
}



.project-outer-container .project-box {
  width: 300px;
  height: 200px;
  margin: 0;
}
.project-outer-container .project-item .project-info-bar {
  top: initial;
  bottom: 0;
  height: 50px;
}
.project-outer-container .project-item .project-info-bar:hover {
  top: initial;
  bottom: 0;
}
.project-outer-container .project-item .project-info-bar .project-title {
  right: 8px;
  left: 44px;
  text-align: right;
}
.project-outer-container .project-box.first-level {
  width: 600px;
  height: 200px;
}
.project-outer-container .project-item.first-level .project-info-bar .project-title {
  font-size: 24px;
}

.project-outer-container .project-box.second-level {
  width: 270px;
  height: 180px;
}
.project-outer-container .project-item.second-level .project-info-bar .project-title {
  font-size: 22px;
}

.project-outer-container .project-box.third-level {
  width: 240px;
  height: 160px;
}
.project-outer-container .project-item.third-level .project-info-bar .project-title {
  font-size: 20px;
}

.project-outer-container .project-box.fourth-level {
  width: 210px;
  height: 140px;
}
.project-outer-container .project-item.fourth-level .project-info-bar .project-title {
  font-size: 18px;
}

.project-box-content {
  background-size: cover !important;
  background-position: center center !important;
}


.invert {
  background: #373334;
}
.invert .navbar-inverse {
  min-height: 48px !important;
  border-bottom: none !important;
  background: none !important;
}
.invert .Treant > .node { 
  border-radius: 4px;
}

.invert .project-outer-container {
  border-radius: 4px;
}

.invert .project-outer-container .project-item .project-info-bar {
  height: 24px;
}
.invert .project-outer-container .project-item .project-info-bar .project-percentage {
  left: 3px;
  top: 0;
  font-size: 14px;
}
.invert .project-outer-container .project-item .progress-bar {
  height: 6px;
}

.invert .project-outer-container .project-item .project-info-bar .project-title {
  left: 20px;
  right: 4px;
  top: 2px;
}

.invert .project-outer-container .project-box.first-level {
  width: 300px;
  height: 120px;
}
.invert .project-outer-container .project-item.first-level .project-info-bar .project-title {
  font-size: 14px;
  top: 4px;
  right: 4px;
}
.invert .project-outer-container .project-item.first-level .project-info-bar {
  height: 32px;
}
.invert .project-outer-container .project-item.first-level .project-info-bar .project-percentage {
  left: 3px;
  top: 3px;
  font-size: 18px;
}
.invert .project-outer-container .project-item.first-level .progress-bar {
  height: 8px;
}

.invert .project-outer-container .project-box.second-level {
  width: 135px;
  height: 90px;
}
.invert .project-outer-container .project-item.second-level .project-info-bar .project-title {
  font-size: 11px;
  top: 3px;
}

.invert .project-outer-container .project-box.third-level {
  width: 120px;
  height: 80px;
}
.invert .project-outer-container .project-item.third-level .project-info-bar .project-title {
  font-size: 11px;
  top: 3px;
}

.invert .project-outer-container .project-box.fourth-level {
  width: 120px;
  height: 70px;
}
.invert .project-outer-container .project-item.fourth-level .project-info-bar .project-title {
  font-size: 10px;
  top: 4px;
}

.rescon .project-outer-container .project-item .project-info-bar {
  height: 24px;
}
.rescon .project-outer-container .project-box.third-level {
  width: 180px;
  height: 24px;
}
.rescon .project-outer-container .project-item.third-level .project-info-bar .project-title {
  left: 24px;
  top: 4px;
  height: 24px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
